In [2]:
import pywhatkit as mithun
import pandas as pd

In [3]:
df = pd.read_excel(r"C:\Users\mithu\OneDrive\Desktop\python programs\Student details.xlsx",engine='openpyxl')

In [4]:
print(df.head())

   S.No       Email Address      Student Name  Section  Register Number  \
0     1  2112044@nec.edu.in         ARAVIND.M  S10 CSE          2112044
1     2  2112045@nec.edu.in          S.DHIVYA  S10 CSE          2112045
2     3  2112047@nec.edu.in  AASHIK NISWIN RJ  S10 CSE          2112047
3     4  2112048@nec.edu.in       ABIVARMAN.G  S10 CSE          2112048
4     5  2112049@nec.edu.in   AFRIN DINUSHA.J  S10 CSE          2112049

   Gender DOB (DD/MM/YYYY)  Student Mobile No Message
0    MALE       09/02/2004         7094109380      Hi
1  FEMALE       18/06/2004       709410938000   Hello
2    MALE       21/03/2003         7806834392      hi
3    MALE       09/02/2004        37094109380   hello
4  FEMALE       29/10/2003         9789283248      hi

In [5]:
columns = df.columns
print(columns)

Index(['S.No', 'Email Address', 'Student Name', 'Section', 'Register Number',
       'Gender', 'DOB (DD/MM/YYYY)', 'Student Mobile No', 'Message'],
      dtype='object')

In [6]:
phno = ""
start = "+09876"
for i in columns:
  k = str(df[i].iloc[0])
  if(len(k)==10 and (k[0] in start)):
    phno = i
print(phno)

Student Mobile No

In [7]:
from datetime import datetime

In [9]:
length = len(df[phno])
for i in range(length):
  flag = 0
  k = str(df[phno].iloc[i])
  if(k[0:3]=="+91" and (k[3] in start) and len(k)==13):
    flag = 1
  elif(k[0]=='0' and (k[1] in start) and len(k)==11):
    flag = 1
  elif(k[0] in start and len(k)==10):
    flag = 1
  else:
    flag = 0
  if(flag==1):
    print(df["Student Name"].iloc[i],df[phno].iloc[i])
    if(k[0]!='+'):
      
      curr = datetime.now()
      h = curr.hour
      m = curr.minute+1
      if(m>58):
        h+=1
        m=1
      g = "+91"+str(df[phno].iloc[i])
    mithun.sendwhatmsg(g,df["Message"].iloc[i],h,m)
  else:
    print(df["Student Name"].iloc[i],"Not a valid Phone number")

ARAVIND.M 7094109380
In 19 Seconds WhatsApp will open and after 15 Seconds Message will be Delivered!
S.DHIVYA Not a valid Phone number
AASHIK NISWIN RJ 7806834392
In 45 Seconds WhatsApp will open and after 15 Seconds Message will be Delivered!
ABIVARMAN.G Not a valid Phone number
AFRIN DINUSHA.J 9789283248
In 44 Seconds WhatsApp will open and after 15 Seconds Message will be Delivered!
ALAGU NAGASH.G 9025429087
In 45 Seconds WhatsApp will open and after 15 Seconds Message will be Delivered!
ANUDEVI. R 9751623002
In 45 Seconds WhatsApp will open and after 15 Seconds Message will be Delivered!
ARAVINDH RAJ.B 9751025203
In 45 Seconds WhatsApp will open and after 15 Seconds Message will be Delivered!
ARCHANA POWN T 7094109380
In 44 Seconds WhatsApp will open and after 15 Seconds Message will be Delivered!
ASBAR.J 7094109380
In 45 Seconds WhatsApp will open and after 15 Seconds Message will be Delivered!